body{
  font-family: 'Play', sans-serif;
  
}
.remainder{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:8.5in;
  z-index:0;
  background:linear-gradient(to right, white, black);
}

div[ng-app]{
  position:absolute;
  z-index: 1;
  top:0;
  left:0;
  width: 8.5in !important;
  height: 11in !important;
}
@media print {
    .right {
        background-color: white;
    }
}

.pane{
  height:100%;
   
}

.left{
  padding-top:.25in;
  border-right:5px solid #E6EEF5;
  background-color: aliceblue;
  box-shadow:10px 0 50px silver;
}
.right{
  padding:0 10px 10px 10px;
}
.skills{
  font-size:2em;
  margin-top:-.4em !important;
}
.education{
  font-size:2em;
}
.side-topic{
  color: #4F5F6D;
  font-weight:700;
  margin:0 0 0 .2em;
  text-transform:uppercase;
  transform:rotate(-5deg)
}

.side-group{
  padding:10px 10px 10px 10px;
  margin-bottom:1em;
}

.side-group .sub-group{
  padding-left: .35em;
}
.title{
  font-size:.9em;
  white-space:nowrap;
}
.sub-group span {
  font-size:.85em
}
.thing1{
  color: #000;
}
.thing2{
  color: #7C93A7;
}
.thing3{
  color: #4F5F6D;
}
.bullets{
  margin:-1em 0 0 0;
}
.bullets li{
  line-height:70%;
}
li span{
  font-size:.65em;
}
h4 i{
  font-size: .75em;
  margin: 0 0 0 1em;
}