body{
  font-family: 'Play', sans-serif;
  position:absolute;
  top:0;
  left:0;
  width: 100% !important;
  height: 100% !important;  
}


.perspective-container{
  perspective: 300px;
}

.salmon{
    position: absolute;
    left: 40%;
    margin-top: 10%;
    color: black;
    height: 750px;
    width: 100px;
    background-color: salmon;
    transition: transform 1s, height 1s;
    transform: rotate(10deg) rotateX(100deg) rotateZ(10deg);
}


.salmon:hover{
  position:absolute;
  height:400px;
  transform: rotateX(0) rotateY(0); 
}

.green{
    position: absolute;
    left: 40%;
    margin-top: 10%;
    color: black;
    height: 750px;
    width: 100px;
    background-color: salmon;
    transition: transform 1s, height 1s;
    transform: rotate(10deg) rotateX(100deg) rotateZ(10deg);
}


.green:hover{
  position:absolute;
  height:400px;
  transform: rotateX(0) rotateY(0); 
}